In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/prasertcbs/tutorial/master/mpg.csv')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
23,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
24,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
27,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
...,...,...,...,...,...,...,...,...,...,...,...
204,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
205,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
219,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [4]:
df['cty_kml'] = df['cty'] * .45143707
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_kml
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,8.125867
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,9.480178
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,9.028741
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9.480178
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,7.222993

In [13]:
df['hwy_kml'] = df.hwy * .425143707
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_kml,hwy_kml,trans_am
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,8.1,12.329168,a
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,9.5,12.329168,m
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,9.0,13.179455,m
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9.5,12.754311,a
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,7.2,11.053736,a

In [14]:
df.hwy_kml = df.hwy * .425143707
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_kml,hwy_kml,trans_am
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,8.1,12.329168,a
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,9.5,12.329168,m
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,9.0,13.179455,m
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9.5,12.754311,a
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,7.2,11.053736,a

In [15]:
df['cty_kml'] = df['cty_kml'].round(1)
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_kml,hwy_kml,trans_am
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,8.1,12.329168,a
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,9.5,12.329168,m
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,9.0,13.179455,m
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9.5,12.754311,a
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,7.2,11.053736,a

In [16]:
df['trans_am'] = df.trans.str[0]
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_kml,hwy_kml,trans_am
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,8.1,12.329168,a
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,9.5,12.329168,m
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,9.0,13.179455,m
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9.5,12.754311,a
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,7.2,11.053736,a

In [17]:
df.cty_kml.mean()

7.615811965811965

In [18]:
df.hwy_kml.mean()

9.965441166217948

In [19]:
df.describe()

,displ,year,cyl,cty,hwy,cty_kml,hwy_kml
count,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000
mean,3.471795,2003.500000,5.888889,16.858974,23.440171,7.615812,9.965441
std,1.291959,4.509646,1.611534,4.255946,5.954643,1.912273,2.531579
min,1.600000,1999.000000,4.000000,9.000000,12.000000,4.100000,5.101724
25%,2.400000,1999.000000,4.000000,14.000000,18.000000,6.300000,7.652587
50%,3.300000,2003.500000,6.000000,17.000000,24.000000,7.700000,10.203449
75%,4.600000,2008.000000,8.000000,19.000000,27.000000,8.600000,11.478880
max,7.000000,2008.000000,8.000000,35.000000,44.000000,15.800000,18.706323